:root {
	--dimension-copy: 70ch;
	--dimension-gap: 2rem;

	color-scheme: light dark;
}

body {
	font-family: 'Atkinson Hyperlegible Next', sans-serif;
}

main {
	width: min(100% - var(--dimension-gap), var(--dimension-copy));
	margin: var(--dimension-gap) auto;
}
